body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgb(162, 243, 180);
}
.header{
    height: 6em;
    padding: 4em;
    font-size: 3em;
    background-image: url(../imgs/portada.jpg);
    background-size: cover;
    background-position: center
}

.header h1{
    margin: 0px;
    font-weight: 3em;
    font-size: 3em;
    text-align: right;
    color: black;
}

.header p{
    text-align: right;
    font-weight: 2em;
    font-size: 1em;
}

.productos{
    width: 80%;
    margin: 3em;
    gap: 10em;
}
.productos td{
    margin: 0;
    font-size: 3em;
   width: 60%;
}
.productos img{
    width: 40%;
    padding: 0%;
    border: solid 3px #000000;
}


img:hover{
    transform: scale(1.1);
    transition: 2s;
}


p{
    font-family: 'Times New Roman', Times, serif
}
.detalle{
    font-size: 2em;
}
.precio{
    font-size: 1.5em;
}
.codigo{
    color: gray;
    font-size: 1em;
    font-style: oblique;
}


.footer{
    line-height: 10em;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3em;
    justify-content: end;
}